{:token :backslash
 :name "\\"
 :flags #{:immediate}
 :source ": \\ ( -- )  SOURCE NIP >IN ! ; IMMEDIATE"
 :pfa [:source :nip :toin :store :exit]}

{:token :hex
 :args [[] []]
 :source ": HEX ( --)  16 BASE ! ;"
 :pfa [:charlit 16 :base :store :exit]}

{:token :tworfetch :name "2R@" }

{:token :tworfrom :name "2R>"}

{:token :twotor :name "2>R"}

{:token :unused
 :args [[] [:u]]
 :source ": UNUSED ( -- u )  'DICT @  'DICT-SIZE @ +  HERE - ;"
 :pfa [:vm :charlit "offsetof(EnforthVM, dictionary)" :plus :fetch
       :vm :charlit "offsetof(EnforthVM, dictionary_size)" :plus :fetch
       :plus :here :minus :exit]}

{:token :zeronotequals
 :name "0<>"
 :args [[:x] [:f]]}
