{:token :hex
 :args [[] []]
 :source ": HEX ( --)  16 BASE ! ;"
 :pfa [:charlit 16 :base :store :exit]}

{:token :tworfetch :name "2R@" }

{:token :tworfrom :name "2R>"}

{:token :twotor :name "2>R"}

{:token :unused
 :args [[] [:u]]
 :source ": UNUSED ( -- u )  'DICT @  'DICT-SIZE @ +  HERE - ;"
 :pfa [:vmaddrlit "offsetof(EnforthVM, dictionary)" :fetch
       :vmaddrlit "offsetof(EnforthVM, dictionary_size)" :fetch
       :plus :here :minus :exit]}

{:token :zeronotequals
 :name "0<>"
 :args [[:x] [:f]]}
