{:token :words
 :args [[] []]
 :source ": DEF-WORDS ( -- )
            LATEST @
            BEGIN
              ?DUP
            WHILE
              DUP FFI?
              IF DUP >FFIDEF  DUP FFIDEF-NAME  SWAP FFIDEF-NAMELEN  ITYPE
              ELSE DUP >NFA  OVER NFA-LENGTH  TYPE THEN
              SPACE  >LFA W@
            REPEAT ;
          : PRIM-WORDS ( -- )
            'NAMES
            BEGIN
              DUP IC@ $FF <>
            WHILE
              ( addr) DUP PRIM-NAMELEN TUCK ( len addr len)
              OVER + 1+ SWAP ( len nextaddr addr) 1+ ROT
              ?DUP IF ITYPE SPACE ELSE DROP THEN
            REPEAT DROP ;
          : WORDS ( -- )  DEF-WORDS PRIM-WORDS ;"
 :pfa [; DEF-WORDS
         :latest :fetch
         :qdup :zbranch 24
           :dup :ffiq :zbranch 10
             ;; TODO Needs to be :itype
             :dup :toffidef :dup :ffidefname :swap :ffidefnamelen :type
               :branch 6
             :dup :tonfa :over :nfalength :type
             :space :tolfa :wfetch :branch -25
       ; PRIM-WORDS
         :ticknames
         ;; TODO Needs to be :icfetch
         :dup :cfetch :charlit 0xff :notequals :zbranch 23
           :dup
           ; PRIM-NAMELEN
             ;; TODO Needs to be :icfetch
             :cfetch :charlit 3 :rshift
           :tuck
           :over :plus :oneplus :swap :oneplus :rot
           :qdup :zbranch 5
             ;; TODO Needs to be :itype
             :type :space :branch 2
             :drop
           :branch -28
         :drop
       :exit]}
