{:token :words
 :args [[] []]
 :source ": VISIBLE? ( xt -- f ) >DEF-TYPE kDefTypeCOLONHIDDEN <> ;
          : DEF-WORDS ( -- )
            LATEST @
            BEGIN
              ?DUP
            WHILE
              DUP FFI?
              IF
                DUP >FFIDEF  DUP FFIDEF-NAME  SWAP FFIDEF-NAMELEN  ITYPE SPACE
              ELSE
                DUP VISIBLE? IF DUP >NFA  OVER NFA-LENGTH  TYPE SPACE
              THEN
              >LFA XT@
            REPEAT ;
          : PRIM-WORDS ( -- )
            'NAMES
            BEGIN
              DUP IC@ $FF <>
            WHILE
              ( addr) DUP PRIM-NAMELEN TUCK ( len addr len)
              OVER + 1+ SWAP ( len nextaddr addr) 1+ ROT
              ?DUP IF ITYPE SPACE ELSE DROP THEN
            REPEAT DROP ;
          : WORDS ( -- )  DEF-WORDS PRIM-WORDS ;"
 :pfa [; DEF-WORDS
         :latest :fetch
         :qdup :izbranch 32
           :dup :ffiq :izbranch 11
             :dup :toffidef :dup :ffidefname :swap :ffidefnamelen :itype :space
               :ibranch 14
             :dup
             ; VISIBLE?
               :todeftype :icharlit "kDefTypeCOLONHIDDEN" :notequals
             :izbranch 7
               :dup :tonfa :over :nfalength :type :space
             :tolfa :xtfetch :ibranch -33
       ; PRIM-WORDS
         :ticknames
         :dup :icfetch :icharlit 0xff :notequals :izbranch 23
           :dup
           ; PRIM-NAMELEN
             :icfetch :icharlit 3 :rshift
           :tuck
           :over :plus :oneplus :swap :oneplus :rot
           :qdup :izbranch 5
             :itype :space :ibranch 2
             :drop
           :ibranch -28
         :drop
       :exit]}
