{:token :words
 :args [[] []]
 :source ": DEF-WORDS ( -- )
            LATEST @
            BEGIN
              ?DUP
            WHILE
              DUP FFI?
              IF DUP >FFIDEF  DUP FFIDEF-NAME  SWAP FFIDEF-NAMELEN  ITYPE
              ELSE DUP >NFA  OVER NFA-LENGTH  TYPE THEN
              SPACE  >LFA XT@
            REPEAT ;
          : PRIM-WORDS ( -- )
            'NAMES
            BEGIN
              DUP IC@ $FF <>
            WHILE
              ( addr) DUP PRIM-NAMELEN TUCK ( len addr len)
              OVER + 1+ SWAP ( len nextaddr addr) 1+ ROT
              ?DUP IF ITYPE SPACE ELSE DROP THEN
            REPEAT DROP ;
          : WORDS ( -- )  DEF-WORDS PRIM-WORDS ;"
 :pfa [; DEF-WORDS
         :latest :fetch
         :qdup :izbranch 24
           :dup :ffiq :izbranch 10
             :dup :toffidef :dup :ffidefname :swap :ffidefnamelen :itype
               :ibranch 6
             :dup :tonfa :over :nfalength :type
             :space :tolfa :xtfetch :ibranch -25
       ; PRIM-WORDS
         :ticknames
         :dup :icfetch :icharlit 0xff :notequals :izbranch 23
           :dup
           ; PRIM-NAMELEN
             :icfetch :icharlit 3 :rshift
           :tuck
           :over :plus :oneplus :swap :oneplus :rot
           :qdup :izbranch 5
             :itype :space :ibranch 2
             :drop
           :ibranch -28
         :drop
       :exit]}
