{:token :backslash
 :name "\\"
 :flags #{:immediate}
 :source ": \\ ( -- )  SOURCE NIP >IN ! ; IMMEDIATE"
 :pfa [:source :nip :toin :store :exit]}

{:token :hex
 :args [[] []]
 :source ": HEX ( --)  16 BASE ! ;"
 :pfa [:icharlit 16 :base :store :exit]}

{:token :unused
 :args [[] [:u]]
 :source ": UNUSED ( -- u )  'DICT @  'DICT-SIZE @ +  HERE - ;"
 :pfa [:vm :icharlit "offsetof(EnforthVM, dictionary)" :plus :fetch
       :vm :icharlit "offsetof(EnforthVM, dictionary_size)" :plus :fetch
       :plus :here :minus :exit]}
